name: Build and Deploy
 
on:
  - push
  - pull_request
 
jobs:
  job1:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: senha
          POSTGRES_DB: pds
        ports:
          - 5432:5432
 
    steps:
    - name: Pulling git repo
      uses: actions/checkout@v2
 
    - name: Installing Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.12.5"
 
    - name: Update pip
      run: python -m pip install --upgrade pip
 
    - name: Install dependencies
      run: pip install -r requirements.txt
 
    - name: Wait for PostgreSQL to be ready
      run: sleep 15
 
    - name: Run pytest
      env:
        DATABASE_URL: postgresql://postgres:senha@localhost:5432/pds
      run: pytest teste.py
